body {
  background-color: #ffd400;
  position: relative;
  margin-left: 40%;
  margin-right: 60%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

label {
  color: #d90368;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: #820263;
}

h2 {
  color: #d90368;
}

input {
  background-color: #2e294e;
  color: #ffd400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 15%;
  filter: drop-shadow(0 0 0.75rem #eadeda);
}

button {
  background-color: #2e294e;
  color: #ffd400;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 15%;
  align-self: last baseline;
  position: relative;
  margin-top: 5px;
  margin-left: 50px;
  filter: drop-shadow(0 0 0.75rem #eadeda);
}

img {
  width: auto;
  height: 280px;
  margin-left: -10px;
  padding-top: 5px;
  filter: drop-shadow(0 0 0.75rem #eadeda);
}
